<p>Editing <span class="user-edit-form">{{user.first_name}} {{user.last_name}}</span></p>

<form name="edit-user-form" action="/users/{{user.id}}/edit" method="post">
    <div class="row">
        <div class="input-field col s12">
            <label for="first name">First Name</label>
            <input class="input-field col s12" placeholder="{{user.first_name}}" name="first name" type="text">
        </div>
        <div class="input-field col s12">
            <label for="last name">Last Name</label>
            <input class="input-field col s12" placeholder="{{user.last_name}}" name="last name" type="text">
        </div>
        <div class="input-field col s12">
            <label for="image_url">Image Url</label>
            <input placeholder="{{user.image_url}}" name="image_url" type="text">
        </div>
        <button type="submit" class="waves-effect waves-light btn-large">Submit</button>
    </div>
</form>
</div>
