<div class="container">
  <img class="user-image" src="{{user.image_url}}" alt="{{user.first_name}} + {{user.last_name}}" />
  <h2>{{user.first_name}} {{user.last_name}}</h2>
  <p>{{user.bio}}</p>
</div>
